<html layout:decorator="layouts/layout">
	<head>
		<meta charset="UTF-8"/>
	</head>

	<div layout:fragment="content">
	
		<div class="row">
		
			<div class="panel panel-default">
				<div class="panel-body">
				  
				  	<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#impressao_simples">Impressão Simples</a></li>
						<li><a data-toggle="tab" href="#impressao_lista" >Impressão em Lista</a></li>
					</ul>
				  
				  	<div class="tab-content">
				  		<div id="impressao_simples" class="tab-pane fade in active">
				  			<br />
				  			<form class="form-horizontal" action="#" th:action="@{/}" th:object="${crachaForm}" method="post">
							<fieldset>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Cabeçalho</label>  
								<div class="col-md-4">
									<input id="cabecalhoInput" name="cabecalhoInput" th:field="*{cabecalho}" type="text" placeholder="Cabeçalho" class="form-control input-md" />
									<div class="col-md-4">
										<div th:if="${#fields.hasErrors('cabecalho')}" th:errors="*{cabecalho}">Cabeçalho: </div>
									</div>
								</div>    
							</div>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Sub Cabeçalho</label>  
								<div class="col-md-4">
									<input id="subcabecalhoInput" name="subcabecalhoInput" th:field="*{subCabecalho}" type="text" placeholder="Sub Cabeçalho" class="form-control input-md" />
									<div class="col-md-4">
										<div th:if="${#fields.hasErrors('subCabecalho')}" th:errors="*{subCabecalho}">Sub Cabeçalho: </div>
									</div>
								</div>    
							</div>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Nome</label>  
								<div class="col-md-4">
									<input id="nomeInput" name="nomeInput" th:field="*{nome}" type="text" placeholder="Nome" class="form-control input-md" />
									<div class="col-md-4">
										<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome: </div>
									</div>
								</div>    
							</div>
							
							<div class="form-group">
						  		<label class="col-md-4 control-label" for="checkboxes">Equipista?</label>
						  		<div class="col-md-4">
						  			<div class="checkbox">
						    			<label for="checkboxes-0">
						      				<input type="checkbox" name="checkboxes" id="checkboxes-0" th:field="*{equipista}" th:value="true" />
						    			</label>
									</div>
						  		</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Título</label>  
								<div class="col-md-4">
									<input id="tituloInput" name="tituloInput" th:field="*{titulo}" type="text" placeholder="Título" class="form-control input-md" />
									<div class="col-md-4">
										<div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Título: </div>
									</div>
								</div>    
							</div>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Sub Título</label>  
								<div class="col-md-4">
									<input id="subtituloInput" name="subtituloInput" th:field="*{subTitulo}" type="text" placeholder="Sub Título" class="form-control input-md" />
									<div class="col-md-4">
										<div th:if="${#fields.hasErrors('subTitulo')}" th:errors="*{subTitulo}">Sub Título: </div>
									</div>
								</div>    
							</div>
							
							<!-- Button -->
							<div class="form-group">
								<div class="col-md-12">
									<center>						
										<button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Gerar Crachá</button>
									</center>
								</div>
							</div>
							
							</fieldset>
							</form>
				  		</div>
				  		
				  		<!-- Impressão em Lista -->
				  		
				  		<div id="impressao_lista" class="tab-pane fade">
				  			<br />
				  			<form class="form-horizontal" action="#" th:action="@{/pessoa/cadastrar_pessoa}" th:object="${pessoa}" method="post">
							<fieldset>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Nome</label>  
								<div class="col-md-4">
									<input id="nomeInput" name="nomeInput" th:field="*{nome}" type="text" placeholder="Nome" class="form-control input-md" />
									<div class="col-md-4">
										<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome: </div>
									</div>
								</div>    
							</div>
							
							<div class="form-group">
						  		<label class="col-md-4 control-label" for="checkboxes">Equipista?</label>
						  		<div class="col-md-4">
						  			<div class="checkbox">
						    			<label for="checkboxes-0">
						      				<input type="checkbox" name="checkboxes" id="checkboxes-0" th:field="*{equipista}" th:value="true" />
						    			</label>
									</div>
						  		</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Título</label>  
								<div class="col-md-4">
									<input id="tituloInput" name="tituloInput" th:field="*{titulo}" type="text" placeholder="Título" class="form-control input-md" />
									<div class="col-md-4">
										<div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Título: </div>
									</div>
								</div>    
							</div>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Sub Título</label>  
								<div class="col-md-4">
									<input id="subtituloInput" name="subtituloInput" th:field="*{subTitulo}" type="text" placeholder="Sub Título" class="form-control input-md" />
									<div class="col-md-4">
										<div th:if="${#fields.hasErrors('subTitulo')}" th:errors="*{subTitulo}">Sub Título: </div>
									</div>
								</div>    
							</div>
							
							<!-- Button -->
							<div class="form-group">
								<div class="col-md-12">
									<center>						
										<button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Cadastrar Pessoa</button>
									</center>
								</div>
							</div>
							
							</fieldset>
							</form>
				  		</div>
				  		
				  	</div>
				</div>
			</div>
		
		</div>
		
	</div>

</html>